<div style="display: flex; justify-content: space-between;">
  <h1 style="justify-content: right">New member</h1>

  <%= link_to "Back to members", users_path, class: "btn", style: "padding: 15px 15px; color:blue; border-color: blue" %>
</div>

<%= render "form", member: @member %>
