<div style="display: flex; justify-content: space-between;">
  <h1 style="justify-content: right">Books</h1>
  <%= link_to "New book", new_book_path, class: "btn", style: "padding: 15px 15px; color:blue; border-color: blue" %>
</div>
<table class="table table-hover", style="text-align: left;">
  <thead>
  <tr>
    <th style="width: 10%;">ISBN</th>
    <th style="width: 10%;">Title</th>
    <th style="width: 10%;">Author
    <th style="width: 10%;">Published Date</th>
    <th style="width: 10%;">Copies</th>
    <th style="width: 10%;">Total Copies</th>
    <th style="width: 10%;">Category</th>
    <th style="width: 10%;">Price</th>
    <th style="width: 10%;">row</th>
    <th style="width: 10%;">Action</th>
  </tr>
  </thead>
  <tbody>
  <div id="users">
    <% @books.each do |book| %>
      <%= render book %>
    <% end %>
  </div>
  </tbody>
</table>
