<h1>Your subscription is expiring soon</h1>
<p>Hello <%= user.name %>,</p>
<p>We wanted to remind you that your subscription is expiring in <%= @days_until_expiration %> days.</p>
<p>Please renew your subscription to continue enjoying our services.</p>
<p>Thank you!</p>