<div style="display: flex; justify-content: space-between;">
  <h1 style="justify-content: right">Categories</h1>
  <%= link_to "New category", new_category_path, class: "btn", style: "padding: 15px 15px; color:blue; border-color: blue" %>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th style="width: 9%;">Name</th>
    <th style="width: 9%;">Description</th>
  </tr>
  </thead>
  <tbody>
  <div id="categories">
    <% @categories.each do |category| %>
      <div id="<%= dom_id category %>">
        <tr>
          <td><%= category.name %></td>
          <td><%= category.description %></td>
        </tr>
      </div>
    <% end %>
  </div>
  </tbody>
</table>
