<div class="row">
  <div class="col">
    <h1>Editing member</h1>
  </div>
  <div class="col">
    <%= link_to "Show this member", @member %>
  </div>
  <div class="col">
    <%= link_to "Back to members", members_path %>
  </div>
</div>

<%= render "form", member: @member %>
