<div class="content">
  <div style="display: flex; justify-content: space-between;">
    <h1 style="justify-content: right">Members</h1>
    <%= link_to "New member", new_member_path, class: "btn", style: "padding: 15px 15px; color:blue; border-color: blue" %>
  </div>

<table class="display myDt", style="text-align: left;">
</table>

</div>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js"></script>
<script>
    var dTparams;
  $(document).ready(function(){
       $('.myDt').DataTable({
          sPagingType: 'simple',
          serverSide: true,
          ajax: {
              url: 'members/fetch_members',
              dataSrc: 'data'
          },
          columns: [
              { title: 'Code', data: 'code' },
              { title: 'Name', data: 'name'},
              { title: 'Email', data: 'email' },
              { title: 'DOB', date: 'dob', render: function (data) { if (data == null) return 'yyyy/mm/dd'} },
              { title: 'Phone No', date: 'phone_no', render: function (data) { if (data == null) return ''} },
              { title: 'Expired at', date: 'expired_at', render: function (data) { if (data == null) return 'yyyy/mm/dd'} },
              { title: 'Amount', date: 'amount', render: function (data) { if (data == null) return ''} }
          ]
      });
  });
    function membersFetch() {
        var inputParams = {};
        inputParams.start = dTparams.start;
        inputParams.length = dTparams.length;
        inputParams.draw = dTparams.draw;
        return getMembers(inputParams);
    }

    function getMembers(params) {
        return $.ajax({
            url: 'members/fetch_members',
            type: 'GET',
            data: params,
            headers: {
                'Content-Type': 'application/json'
            }
        });
    }
    var dataTable = $('.myDt').DataTable();
    document.addEventListener("turbolinks:before-cache", function() {
        if (dataTable !== null) {
            dataTable.destroy();
            dataTable = null;
        }
    });
</script>
