<div style="display: flex; justify-content: space-between;">
  <h1 style="justify-content: right">Members</h1>
  <%= link_to "New member", new_member_path, class: "btn", style: "padding: 15px 15px; color:blue; border-color: blue" %>
</div>

<table class="table table-striped", style="text-align: left;">
  <thead>
  <tr>
    <th style="width: 9%;">Code</th>
    <th style="width: 9%;">Name</th>
    <th style="width: 9%;">Email</th>
    <th style="width: 12%;">DOB</th>
    <th style="width: 9%;">Phone No</th>
    <th style="width: 9%;">Expired at</th>
    <th style="width: 9%;">Amount</th>
    <th style="width: 9%;">Action</th>
  </tr>
  </thead>
  <tbody>
  <div id="members">
    <% @members.each do |member| %>
      <%= render member %>
    <% end %>
  </div>
  </tbody>
</table>
